.pagination li {
  list-style: none;
  float: left;
  display: block;
  background-color: #ddd;
  padding: 3px;
  width: 20px;
  height: 20px;
  text-align: center;
  border: 1px solid #ddd;
  cursor: pointer;
}
.pagination li:first-child {
  border-radius: 3px 0 0 3px;
}
.pagination li:last-child {
  border-radius: 0 3px 3px 0;
}
.pagination li.active {
  background-color: rgb(64, 11, 126);
  border: 1px solid rgb(64, 11, 126);
  color: #fff;
}
